 /* font-family: "Roboto",
 sans-serif;
 font-family: "Raleway",
 sans-serif; */

 /*2E2F42*/

 /*style="background-color: #2e2f42;"
 style="color: #fff;"
  style="background-color: #404bbf;"*/

body {
    font-family: "Roboto",
            sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 }
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo .part-logo {
    color: #2e2f42;
}
.footer-logo .part-logo {
    color: #f4f4fd;
}
.nav-header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-header-link:hover,
.nav-header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
h2 {display: none;}

.page-footer {
    background: #2e2f42;
}
.footer-description {
    color: #f4f4fd;
}